@font-face {
    font-family: "Lato-Bold";
    src: url("./Fonts/Lato-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Lato-Regular";
    src: url("./Fonts/Lato-Regular.ttf")  format("truetype");
  }
  
  .greenRectangle {
    width: 981px;
    height: 95px;
    background-color: #DAED49;
    margin-bottom: 60px;
    
  }
  
  .textHeader {
    width: 238px;
    height: 48px;
    font-size: 35;
    font-family: Lato-bold;
    color: #000000;
    margin-top: 25px;
    margin-left: 126px;
    letter-spacing: 1.5px;
  }

  .blueRectangle {
    width: 939px;
    height: 95px;
    background-Color: #00BDD4;
    display: flex;
    margin: 0;
  }

  .blueTriangle {
    width: 0px;
    height: 0px;
    background-Color: transparent;
    border-Style: solid;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 55px;
    border-bottom-width: 95px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #00BDD4;
    margin-left: -55px;
  }

  .logo {
    width: 647px;
    height: 664px;
    margin-left: 180px;
    margin-top: 19.5px;
    margin-bottom: 273.8px;
    margin-right: 209px;
  }

  .titleFont{
    letter-spacing: 0.5px;
    font-size: 60px;
    color: #000000;
    font-family: "Lato-Regular";
    font-weight: 400;
    margin: 0;
  }

  .titleRnM{
    
    font-family: "Lato-Bold";
    color:#00BDD4;
    font-weight: 700;
    font-size: 70px;
    margin: 0px;
  }

  .head{
    width: 683px;
    height: 230px;
    margin-top: 60px;
    margin-left: 197px;
    margin-bottom: 19.5px;
    margin-right: 78px;
  }

  .episodes{
    font-family: "Lato-Bold";
    font-size: 25px;
    color: #000000;
    list-style-type: none;
    margin-bottom: 76px;
    margin-right: 34.5px;
   
  }

  .footer{
    width: 1920px;
    height: 67.23px;
    position: absolute;
    top: 1421.77px;
    background-color: #464646;
  }

  .footerText{
    position: absolute;
    left: 880px;
    top: 1446px;
    font-family: "Lato-Bold";
    font-size: 16px;
    margin: 0;
    color: #CCCCCC;
  }


  .header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
  }

  .line{
    width: 1px;
    height: 1060px;
    background-color: #D1D1D1;
    margin-left: 0px;
    margin-top: 119.5px;
  }

  .api{
    display: flex;
    flex-direction: row;
  }

  .body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page{
    width: auto;
  }
  
  .test{
    display: flex;
    flex-direction: column;
  }

  .nameBlue{
    font-family: "Lato-Bold";
    font-size: 25px;
    color: #00BDD4;
    list-style-type: none;
    margin-right: 14.75px;
    margin-left: 29px;
    margin-bottom: 0px;
  }

  
  .nameGreen{
    font-family: "Lato-Bold";
    font-size: 25px;
    color: #BDD800;
    list-style-type: none;
    margin-right: 14.75px;
    margin-left: 29px;
  }
  
  .date{
    font-family: "Lato-Bold";
    font-size: 20px;
    color: #959595;
    margin-left: 29px;
    margin-top: -6px;
    margin-bottom: 37px;
  }


  @media screen and (min-width: 2000px) {
    .greenRectangle{
      flex-grow: 1;
    }
    .blueRectangle{
      flex-grow: 1;
    }
    .head{
      width: auto;
    }
    .body{
      margin: auto;
      justify-content: space-around;
    }
  }

  @media screen and (max-width: 1800px) {
    .greenRectangle{
      flex-grow: 1;
    }
    .blueRectangle{
      flex-grow: 1;
    }
    .head{
      width: auto;
    }
    .body{
      margin: auto;
      justify-content: space-around;
    }
  }












  @media screen and (max-width: 500px) {
    .greenRectangle{
      background-color: red;
    }
    .header{
      margin: 0;
    }
    .head{
      margin: 0px;
      margin-left: 30px;
    }
  
    .body{
      margin-top: -650px;
      margin-left: -90px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: scale(60%);
    }
    .logo{
      width: fit-content;
      height: fit-content;
      padding: 0px;
      margin: 0;
    }
  }

