  @font-face {
    font-family: "Lato-Bold";
    src: url("./Fonts/Lato-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Lato-Regular";
    src: url("./Fonts/Lato-Regular.ttf")  format("truetype");
  }
  
  /*--- bar ---*/

  .greenRectangle {
    width: 981px;
    height: 95px;
    background-color: #DAED49;
    margin-bottom: 60px;
  }
  
  .textBar {
    width: 238px;
    height: 48px;
    font-size: 35px;
    font-family: Lato-bold;
    color: #000000;
    margin: 24px 0px 0px 65px ;
    text-align: center;
    vertical-align: baseline;
  }

  .blueRectangle {
    width: 939px;
    height: 95px;
    background-Color: #00BDD4;
    display: flex;
    margin: 0;
    margin-bottom: 136px;
  }

  .blueTriangle {
    width: 0px;
    height: 0px;
    background-Color: transparent;
    border-Style: solid;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 55px;
    border-bottom-width: 95px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #00BDD4;
    margin-left: -55px;
  }

  .barContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
  }

  /*--- logo ---*/

  .logo {
    width: 647px;
    height: 664px;
    margin: 19.5px 209px 273.8px 180px;
  }

  /*--- Header ---*/

  .headerFont{
    letter-spacing: 0.1px;
    word-spacing: 2.7px;
    font-size: 60px;
    color: #000000;
    font-family: "Lato-Regular";
    font-weight: 400;
    margin: 0;
  }

  .headerRnM{
    
    font-family: "Lato-Bold";
    color:#00BDD4;
    font-weight: 700;
    font-size: 70px;
    margin: 0px;
    letter-spacing: -0.3px;
    word-spacing: 2px;
  }

  .headerContainer{
    width: 683px;
    height: 230px;
    margin-top: -17px;
    margin-left: 197px;
    margin-bottom: 19.5px;
    margin-right: 78px;
  }

  /*--- info from API ---*/

  .episodes{
    font-family: "Lato-Bold";
    font-size: 25px;
    color: #000000;
    list-style-type: none;
    margin-bottom: 76.2px;
    margin-right: 34.5px;
    margin-left: 0.1px;
  }

  .line{
    width: 1px;
    height: 1060px;
    background-color: #D1D1D1;
    margin-left: -0.6px;
    margin-top: -17px;
  }

  .nameBlue{
    height: 30px;
    font-family: "Lato-Bold";
    font-size: 25px;
    color: #00BDD4;
    list-style-type: none;
    margin-right: 14.75px;
    margin-left: 29px;
    margin-bottom: 15px;
    margin-top: -0.3px;
    vertical-align: baseline;
  }
  
  .nameGreen{
    width: 500px;
    height: 30px;
    font-family: "Lato-Bold";
    font-size: 25px;
    color: #BDD800;
    list-style-type: none;
    margin-right: 14.75px;
    margin-left: 29px;
    margin-bottom: 15px;
    margin-top: 0px;
    text-align: left;
    vertical-align: baseline;
  }
  
  .date{
    height: 24px;
    font-family: "Lato-Bold";
    font-size: 20px;
    color: #959595;
    margin-left: 29px;
    margin-top: 0px;
    margin-bottom: 37.1px;
    vertical-align: baseline;
  }

  .apiContainer{
    display: flex;
    flex-direction: row;
  }

  /* --- footer ---*/

  .footer{
    width: 1920px;
    height: 67.23px;
    background-color: #464646;
    margin-top: 1px;
  }

  .footerText{
    font-family: "Lato-Bold";
    font-size: 16px;
    text-align: center;
    padding-top: 24.2px;
    color: #CCCCCC;
  }

  /* --- containers --- */

  .body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .page{
    width: 1920px;
    height: 1489px;
    padding: 0px;
    margin: 0px;
  }
  
  .columns{
    display: flex;
    flex-direction: column;
  }


  /*mobile version*/

  @media screen and (max-width: 612px) {
   .page{
    width: 412px;
    height: 2063px;
    overflow-x: hidden;
   }
   .greenRectangle{
    width: 412px;
    height: 71px;
    margin-right: 0px;
    margin-bottom: 0px;
   }
   .blueRectangle{
    display: none;
    margin-right: 0px;
   }
   .blueTriangle{
    display: none;
    margin-right: 0px;
   }
   .textBar{
    font-size: 30px;
    margin-top: 18px;
    margin-right: 0px;
    margin-left: 21.2%;
   }
   .headerFont{
    font-size: 35px;
    margin-right: 0px;
   }
   .headerRnM{
    font-size: 40px;
    margin-right: 0px;
   }
   .headerContainer{
    width: 336px;
    height: 142px;
    margin: 41px 0px 31px 28px;
   }
   .logo{
    width: 351px;
    height: 360px; 
    margin: 0px 0px 58px 25px ;
   }
   .body{
    flex-direction: column;
    margin-right: 0px;
    width: 412px;
   }
   .episodes{
    width: 91px;
    height: 32px;
    font-size: 18px;
    margin: 0px 0px 3px 25px;
   }
   .nameBlue{
    max-width: 412px;
    font-size: 18px;
    margin: 0px 0px 5.1px 25px;
   }
   .nameGreen{
    max-width: 412px;
    font-size: 18px;
    margin: 0px 0px 5.1px 25px;
   }
   .date{
    max-width: 412px;
    font-size: 15px;
    margin: 5px 0px 0px 25px;
   }
   .line{
    width: 362px;
    height: 0.1px;
    margin: 16.5px 0px 17.5px 25px;
   }
   .footer{
    height: 48.72px;
    width: 412px;
    margin-top: 64px;
    
   }
   .footerText{
    font-size: 14px;
    padding-top: 16.7px;
    margin-left: -19px;
    word-spacing: 1.4px;
    letter-spacing: -0.1px;
   }
   
   }

   
  /* --- media --- NO LONGER PIXEL PERFECT*/

  @media screen and (min-width: 1930px) {
    .greenRectangle{
      flex-grow: 1;
    }
    .blueRectangle{
      flex-grow: 1;
    }
    .barContainer{
      width: auto;
    }
    .body{
      margin: auto;
      justify-content: space-evenly;
    }
    .footer{
      width: 100%;
    }
    .page{
      width: 100%;
    }
  }






