@font-face {
    font-family: Lato-Bold;
    src: url('./Fonts/Lato-Bold.ttf')  format('truetype');
  }
  
  .greenRectangle {
    width: 1920px;
    height: 95px;
    background-color: #DAED49;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
  }
  
  .textHeader {
    width: 238px;
    height: 48px;
    font-size: 35;
    font-family: Lato-bold;
    font-weight: 700;
    position: absolute;
    left: 65px;
    top: 24px;
    margin: 0;
  }



  .blueRectangle {
    width: 939px;
    height: 95px;
    background-Color: #00BDD4;
    position: absolute;
    left: 981px;
    top: 0px;
    margin: 0;
  }

  .blueTriangle {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 926px;
    top: 0px;
    background-Color: transparent;
    border-Style: solid;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 55px;
    border-bottom-width: 95px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #00BDD4;
    margin: 0;
  }

  .flex { display : flex }

